.royal-mainPanel {
    width: 100%;
    height: 300px;
    position: fixed;
    bottom: 0;
    background: rgba(200, 200, 200, 0.9);
    overflow: auto;
    padding: 25px;
    display: block;
    z-index: 999999;
    border: solid black 1px;
}

.royal-modules {
    width: 100%;
    height: 225px;
}

.royal-button {
    color: black;
}
